@model Opinion

<div class="p-4" style="border-radius:20px;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Lista opinii</h2>
        </div>
    </div>
    <br />
    <br />
    <table id="tblData" class="table table-primary" style="width: 100%; text-align: center;">
        <thead>
        <tr class="table-danger">
            <th style="text-align: center;">Zawartość</th>
            <th style="text-align: center;">Data</th>
            <th style="text-align: center">Ocena</th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>


@section Scripts
{
    <script src="~/js/opinion.js"></script>
}